<!DOCTYPE html>
<html ng-app="myApp">

<head lang="en">
    <meta charset="UTF-8">
    <title>Lab 5 Part 1 - Controllers</title>
</head>

<body ng-controller="MainController">
    <input type="text" ng-model="thisName">
    <button ng-click="addName( thisName )">Add Name</button><br><br>
    <button ng-click="removeLastName()">Remove Last Name</button><br><br>
	<button ng-click="removeName( thisName )">Remove Name</button>
	<h3>{{ names.length }} Names</h3>
    <ol>
    	<li ng-repeat="name in names">{{name + ' ('+ name.length +')'}}</li>
    </ol>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>

