<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
<body ng-app="starter"> 
<div ng-controller="StudentController">
    <h2>Students</h2>
    <div class="row">
        <div class="col">Name</div>
        <div class="col">Address</div>
        <div class="col">DOB</div>
        <div class="col">Age</div>
    </div>
    <div class="row" ng-repeat="student in students">
      <div class="col">{{student.name}}</div>
      <div class="col">{{student.address}}</div>
      <div class="col">{{student.dob | date:'longDate'}}</div>
      <div class="col">{{student.getAge()}}</div>
    </div>
    </div>
<div ng-controller="GMITController">
    <h2>GMIT</h2>
    <br />Name: {{GMIT.name}}
    <br />Address: <span ng-repeat="eachAddress in GMIT.address">{{eachAddress}} </span>
    <br />Founded: {{ GMIT.founded | date: 'MMMM yyyy'}}
    <br />Age: {{GMIT.getCurrentAge()}}
</div>


</body>

</html>
